# split CSV into 3 different sets

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
talking = pd.read_csv('data/train.csv', parse_dates = ['click_time'])

In [6]:
talking.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,83230,3,1,13,379,2017-11-06 14:32:21,NaN,0
1,17357,3,1,19,379,2017-11-06 14:33:34,NaN,0
2,35810,3,1,13,379,2017-11-06 14:34:12,NaN,0
3,45745,14,1,13,478,2017-11-06 14:34:52,NaN,0
4,161007,3,1,13,379,2017-11-06 14:35:08,NaN,0

In [7]:
sample22m = talking.sample(n=22_000_000, replace=False, weights=None, random_state=42, axis=None)

In [8]:
print(len(sample22m))
total_train, one_time_test = train_test_split(sample22m, test_size=1/11, random_state=42)

22000000

In [9]:
len(total_train)

20000000

In [10]:
file_name='./data/one_time_test2m.csv'
one_time_test.to_csv(file_name, sep=',', encoding='utf-8', index=False)

In [11]:
param_tuning, model_selection = train_test_split(total_train, test_size=0.1, random_state=42)

In [12]:
file_name='./data/model_selection2m.csv'
model_selection.to_csv(file_name, sep=',', encoding='utf-8', index = False)

In [13]:
file_name='./data/param_tuning18m.csv'
param_tuning.to_csv(file_name, sep=',', encoding='utf-8', index=False)

In [14]:
# df_balanced = train.sample(n=2_000_000, replace=False, weights=None, random_state=42, axis=None)
len(param_tuning)

18000000